.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

#all-games > div {
  display: flex;
}

#all-games {
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}

#all-games div {
  background-color: #f4f1eb;
  box-shadow: 0 0 5px gray;
  padding: 5px 5px 0px 5px;
  width: 250px;
  height: 330px;
}

/* book cover images */
#all-games img {
  height: 220px;
  width: 240px;
}
